header {
    background-color: #f0f0f0;
    position: fixed;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
padding: 8px 180px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}
.logo {
    color: rgb(0, 102, 255);
    font-weight: bolder;
    font-size: 22px;
    letter-spacing: 1px;
}
.navigation a {
    margin-left: 12px;
    margin-right: 12px;
    font-weight: bold;
}
.navigation a:hover{
    color: #601cfc;
}
section{
padding: 105px 232px;

}
.main{

    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-image: url(pexels-francesco-ungaro-998641.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main div h2 {
    color: white;
    font-weight: bolder;
    font-size: 1.7em;
}
.main div h2 span{
    display: inline-block;
    margin-top: 6px;
    color: rgb(16, 51, 248);
    font-size: 3em;
}
.main div h3{
    color: white;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
}
.main div{
    position: absolute;
    top: 200px;
}
.projects-btn{
color: white;
background-color: #3a6cf4;
border-radius: 12px;
width: 145px;
height: 42px;
display: inline-block;
text-align: center;
font-weight: 800;
letter-spacing: 2px;
padding-top: 7px;
transition: 0.2s ease-out;
margin-top: 10px;
margin-bottom: 10px;
}
.projects-btn:hover{
    transform: scale(1.1);
    color: white;
}
.social-icons a{
    color: white !important;
    font-size: 25px;
    margin-right: 18px;
}
.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-weight: 800;
    margin-bottom: 26px;
}
.content {

    display: flex !important;
    justify-content: center !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
}
.card{
    background-color: white;
    width: 248px;
    border-radius: 18px;
    box-shadow: 0px 5px 25px rgba(2 2 2/ 24%);
    margin: 24px;
    padding: 18px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.card:hover{
    transform: scale(1.1);
    font-weight: bolder;
}
.icon {
    color: #3a8bf4;
    font-size: 6em;
    text-align: center;
}
.info h3 {
    color: rgb(0, 140, 255);
    font-size: 1.2em;
    font-weight: 900;
    margin: 5px;
}
.info {
    text-align: center;
}
.projects {

    background-color: rgba(2 2 2 /94%);
}
::-webkit-scrollbar {
    width: 12px;
  }
  .project-card{
transition: 0.4s;
background-color: #f0f0f0;
border: 1px solid rgb(218, 215, 215);
min-height: 14em;
width: 22em;
overflow: hidden;
border-radius: 6px;
margin: 9px;
  }
  .project-card:hover{
transform: scale(1.2);
opacity: 0.8;
  }
  .project-info{
padding: 1em;

  }
  .projects .content {
      margin-top: 8px;
  }
  .project-image img {
      width: 100%;
  }
  .project-title{
display: flex;
justify-content: space-between;
margin-left: 5px;
  }
  .project-category{

font-weight: 700;
letter-spacing: 1px;
font-size: 24px;
  }
  .more-details{
      float: right;
      padding-bottom: 6px;
      text-decoration: none;
  }
  .more-details:hover{
      color: #601cfc;
  }
  .contact{
      background-color: #f0f0f0;
  }